{{- if site.Params.enableFloatingMenu }}
{{- $floatingMenuCSS := resources.Get "css/floating-menu.css" | resources.Minify }}
<link rel="stylesheet" href="{{ $floatingMenuCSS.Permalink }}" />

{{- $floatingMenuJS := resources.Get "js/floating-menu.js" | resources.Minify }}
<script src="{{ $floatingMenuJS.Permalink }}" defer></script>

<!-- Prevent layout shift and ensure floating menu priority -->
<style>
  .floating-header { 
    z-index: 9999 !important; 
    isolation: isolate;
  }
  .floating-menu-toggle { 
    z-index: 10000 !important; 
    isolation: isolate;
  }
  #disqus_thread, 
  #disqus_thread iframe,
  div[id*="disqus"] { 
    z-index: 1 !important; 
    position: relative !important;
  }
</style>
{{- end }}

{{- /* Disqus Comment Count Script */ -}}
<script id="dsq-count-scr" src="//vikkiblog.disqus.com/count.js" async></script>
