{{- if site.Params.enableFloatingMenu }}
{{- $floatingMenuCSS := resources.Get "css/floating-menu.css" | resources.Minify }}
<link rel="stylesheet" href="{{ $floatingMenuCSS.Permalink }}" />

{{- $floatingMenuJS := resources.Get "js/floating-menu.js" | resources.Minify }}
<script src="{{ $floatingMenuJS.Permalink }}" defer></script>

<!-- Prevent layout shift and ensure floating menu priority -->
<style>
  .floating-header { 
    z-index: 9999 !important; 
    isolation: isolate;
  }
  .floating-menu-toggle { 
    z-index: 10000 !important; 
    isolation: isolate;
  }
  #disqus_thread, 
  #disqus_thread iframe,
  div[id*="disqus"] { 
    z-index: 1 !important; 
    position: relative !important;
  }
</style>
{{- end }}

{{- /* Blog CSS for column alignment */ -}}
{{- $blogCSS := resources.Get "css/blog.css" | resources.Minify }}
<link rel="stylesheet" href="{{ $blogCSS.Permalink }}" />

{{- /* Disqus Comment Count Script */ -}}
<script id="dsq-count-scr" src="//vikkiblog.disqus.com/count.js" async></script>

{{- /* Mailchimp Popup Subscription Script */ -}}
<script id="mcjs">!function(c,h,i,m,p){m=c.createElement(h),p=c.getElementsByTagName(h)[0],m.async=1,m.src=i,p.parentNode.insertBefore(m,p)}(document,"script","https://chimpstatic.com/mcjs-connected/js/users/ef367315f0a7fd5195b2a0aeb/736e0be82ca951792f2b5b6d2.js");</script>
